* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 100%;
}

/**TopMost**/

.top {
    display: flex;
    position: static;
    justify-content: right;
    background-color: rgb(88, 88, 88);

}

.icons {
    color: white;
    margin: 10px 10px 10px 10px;
    font-size: 12px;

}

.top p {
    padding: 10px 20px;
    font-size: 15px;
    color: white;
}


/** Navbar **/

.logo h1 {
    font-size: 35px;
    color: white;
}

.navdiv {
    background-color: #0d1527;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}

li a {
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.head {
    display: flex;
    list-style: none;
}

.heading {
    padding-right: 35px;
    font-size: 18px;
    padding-top: 10px;
    color: white;

}

.navbar-content {
    width: fit-content;
    display: none;
    list-style: none;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(55, 119, 192);
    z-index: 1;
    position: absolute;

}

.navbar-content li a {
    color: white;
    font-size: 15px;
}

.navbar-content p {
    font-size: 17px;
    font-weight: 400;
    padding: 5px;
    color: white;
}

.navbar-content h6 {
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.heading:hover .navbar-content {
    display: flex;
}

.navbar-content li {
    padding: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
}


.navbar-content a:hover {
    font-size: 16px;
    color: rgb(0, 18, 24);
}

.navbar-content li:hover {
    background-color: rgb(152, 217, 255);

}

.navdiv button {
    border: 1px solid white;
    box-shadow: 1px 1px 1px 1px white;
    padding: 3px 5px;
    color: white;
    font-size: 18px;
    background-color: #0d1527;
}

/* Main */

.section1{
    display: flex;
    justify-content: space-between;
}
.content{
    width: 500px;
    margin-left: 40px;
}
.content h1{
    font-size: 50px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 10px;
}
hr{
    width: 300px;
    margin-left: 40px;
}
.content p{
    font-size: 20px;
    margin-left: 40px;
    margin-top: 5px;
}
.section2{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.container{
    width: 400px;
    box-shadow: 1px 1px 2px gray;
    margin: 30px 50px;
}
.container h2{
    font-size: 30px;
    margin: 10px 0px;
}
.container p{
    padding-bottom: 20px;
}

/* Footer */

.footer {
    display: flex;
    background-color: #0d1527;
    justify-content: space-between;
}

.column1footer {
    display: grid;
    grid-template-columns: auto;
    row-gap: 200px;
}

.column2footer {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
}

.column3footer {
    display: grid;
    grid-template-columns: auto;
    row-gap: 200px;
}

.row {
    width: 400px;
    margin-left: 40px;
    margin-top: 50px;

}

.row h3 {
    font-size: 40px;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;

}

.row h4 {
    color: white;
    font-size: 25px;
    font-weight: 500;
}

.row4 {
    margin-left: 40px;
}

.row4 a {
    font-size: 20px;
    text-decoration: none;
    color: white;

}

.col {
    margin-top: 50px;
}

.col h3 {
    margin-top: 30px;
    font-size: 25px;
    color: white;
    font-weight: 400;
}

.col ul li {
    color: white;
    font-size: 20px;
    padding: 10px;
}

.row1 {
    width: 350px;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin-top: 80px;
    margin-right: 40px;
    padding: 10px;
    background-color: #121c33;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.438);
}

.row1 h3 {
    font-size: 30px;
    font-weight: 500;
    color: white;
    padding: 10px;
}

.row1 p {
    font-size: 15px;
    color: white;
    padding: 5px 15px;
}

.row1 button {
    background-color: rgb(55, 119, 192);
    color: white;
    font-size: 20px;
    padding: 15px;
    margin-left: 10px;
    border-radius: 10px;
    margin-bottom: 25px;
    transform: translateY(-100px);
    border: 1px solid white;
}

.row1 img {
    position: relative;
    transform: translateX(60px) translateY(-10px);

}

.row2 p {
    color: white;
    font-size: 20px;
    margin-right: 60px;
}
